@keyframes box-appear {
  from {
    opacity: -5;
    margin-top: -500px;
  }
  to {
    opacity: 1;
    margin-top: 5%;
  }
}
@keyframes load-spinner-balls {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load-spinner-balls-before {
  0% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5px, -5px);
  }
}
@keyframes load-spinner-balls-after {
  0% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5px, 5px);
  }
}