.check-appear {
  display: none;
  background-color: $tertiary-color;
}
.dish-box:hover {
  & .check-appear {
    display: block;
    position: relative;
    height: 65px;
    margin-top: -65px;
    margin-left: 90%;
    width: 80px;
    animation: check-appear 0.5s;
  }
  & .price{
    animation: move-price 0.5s;
    margin-right: 20%;
  }
  & .fa-check{
      margin: 22px 20px;
      animation: check-rotate 0.5s;
  }
  & h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 65%;
  }
}
