.fas{
    margin-right: 5%;
    color: darken($color: $section-bg, $amount: 40);
    &.back {
    position: absolute;
    color: $footer-bg;
    margin-right: 90%;
    }
    &.mapmarker{
        color: $footer-bg;
    }
}