figure {
  margin: 20px -20px;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: $dish-box-shadow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & .far {
    align-self: flex-end;
    font-size: 25px;
  }
  & .fas {
    align-self: flex-end;
    font-size: 25px;
    display: none;
  }
  & :hover .far {
    display: none;
    color: $primary-color;
  }
  & :hover .fas {
    display: block;
    color: $primary-color;
  }
}

.index-section-fonctionnement {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  & .fas {
    margin-right: 5%;
    color: darken($section-bg, 40);
  }
}

.index-section-restaurants {
  display: flex;
  flex-direction: column;
  background-color: $section-bg;
  width: 100%;
}

.preview {
  width: 100%;
  height: 175px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  margin: auto;
  display: block;
  object-fit: cover;
}

.localisation {
  background-color: darken($color: $section-bg, $amount: 7);
  box-shadow: inset 0 3px 5px -5px $footer-bg;
}

.discover {
  background-color: $section-bg;
  padding: 30px;
  & p {
    @include font-palette(discover);
  }
}

.index-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  @include dish-box-layout;
  margin: 15px 5%;
  padding: 10px;
  background-color: $section-bg;
  border-radius: $dish-box-radius;
  font-weight: bold;
  &:hover {
    background: linear-gradient(to right, rgba(lighten($primary-color, 20), 0.2), rgba($primary-color, 0.2));
    & .fas {
      color: $primary-color;
    }
  }
}
figcaption p {
  @include font-palette(restaurant-desc);
}

.index-body {
  & section {
    padding: 0px 20px;
  }
  & footer {
    margin-top: 80px;
    padding: 20px 40px;
  }
}

span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 25px;
}

.pin {
  margin-right: 5%;
  margin-left: -22px;
  background-color: $primary-color;
  padding: 3px 8px;
  border-radius: 50%;
  color: white;
  font-weight: lighter;
}

.flag-new{
  border-radius: 10%;
  padding: 5px 10px;
  margin-left: 65%;
  margin-right: 50px;
  margin-top: 40px;
  position: absolute;
  background-color: $tertiary-color;
  color: darken($tertiary-color, 35);
  font-size: 14px;
  font-weight: bold;
}