@media screen and (min-width: 900px) {
  figure {
    max-width: 22%;
  }
  .header-index{
    height: auto;
  }
  .index-body section{
    margin: 0px;
    padding: 0px;
  }
  h2.index {
    text-align: center;
    padding-top: 25px;
  }
  .index-section-fonctionnement{
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .index-fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .index-restaurants {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .index-box {
    width: 25%;
  }
  .discover{
    padding-bottom: 0px;
  }
  .flag-new {
    margin-top: -230px;
    margin-left: 280px;
  }
}
