img{
    width: auto;
    max-width: 100%;
    height: auto;
    position: static;
    display: flex;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.fas {
    position: absolute;
    margin-left: -90%;
    color: $footer-bg;
}